<h1><%= @project.name %></h1>
<p>Material: <%= @project.material %></p>
<h3>Challenge theme: <%= @project.challenge.theme %> </h3>
<h3>Number of Contestants: <%=@project.contestants.count %></h3>
<%= binding.pry%>
<h3>Number of Contestants: <%=@project.contestants.count %></h3>


