<p>Name: <%= @project.name %></p>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestant_count %></p>
<p>Average Contestant Experience: <%= @project.experience_average %> years</p>