<h1>Projects</h1>
<h3><%= @project.name %></h3>
<p>
  Material: <%= @project.material %><br />
  Challenge Theme: <%= @project.challenge.theme %><br />
  Number of Contestants: <%= @project.contestants.count %><br />
  Average Contestant Experience: <%= @project.average_years_experience %>
</p>