<h1><%= @project.name %></h1>

<p>Material: <%= @project.material %></p><br>

<p>Challenge Theme: <%= @challenge.theme %></p><br>

<p>Number of Contestants: <%= @project.count_contestants %></p><br>

<p>Average Contestant Experience: <%= @project.average_contestant_experience %> years</p><br>

<%= form_with url: "/contestant_projects/#{@project.id}", method: :post, local: true do |form| %>
  <%= form.label :add_contestant, "Contestant ID" %>
  <%= form.number_field :add_contestant %>
  <%= form.submit "Add Contestant To Project" %>
<% end %>